<% content_for(:title) { "Questions - Brimming" } %>

<div class="page-header-with-action">
  <h1>Questions</h1>
  <% if user_signed_in? %>
    <%= link_to "Ask Question", new_question_path, class: "btn btn-primary" %>
  <% else %>
    <button type="button" class="btn btn-primary" data-action="modal#open">Ask Question</button>
  <% end %>
</div>

<div class="card">
  <% if @questions.any? %>
    <ul class="question-list">
      <% @questions.each do |question| %>
        <li class="question-item">
          <div class="question-title">
            <%= link_to question.title, question_path(question) %>
          </div>
          <div class="question-meta">
            <span class="space"><%= link_to question.space.name, space_path(question.space) %></span>
            <span>by <%= render 'shared/user_badge', user: question.author %></span>
            <span><%= question.answers_count %> answers</span>
            <% if question.has_correct_answer? %>
              <span class="badge badge-success">Solved</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="empty-state">
      <p>No questions yet.</p>
    </div>
  <% end %>
</div>
