<% content_for(:title) { "Edit Comment - Brimming" } %>

<div class="page-header">
  <h1>Edit Comment</h1>
</div>

<div class="card">
  <%= form_with model: @comment, class: "comment-form" do |f| %>
    <% if @comment.errors.any? %>
      <div class="form-errors">
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :body, "Comment" %>
      <%= f.text_area :body, class: "form-control", rows: 4, required: true %>
      <small class="form-hint">1–2,000 characters</small>
    </div>

    <div class="form-actions">
      <%= f.submit "Update Comment", class: "btn btn-primary" %>
      <%
        commentable = @comment.commentable
        question = commentable.is_a?(Question) ? commentable : commentable.question
      %>
      <%= link_to "Cancel", question_path(question, anchor: "comment-#{@comment.id}"), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
