<% content_for(:title) { "Brimming - Q&A Platform" } %>

<div class="two-column">
  <section>
    <div class="card">
      <div class="card-header">
        <h2>Recent Questions</h2>
      </div>
      <% if @recent_questions.any? %>
        <ul class="question-list">
          <% @recent_questions.each do |question| %>
            <li class="question-item">
              <div class="question-title">
                <%= link_to question.title, question_path(question) %>
              </div>
              <div class="question-meta">
                <span class="space"><%= link_to question.space.name, space_path(question.space) %></span>
                <span>by <%= render 'shared/user_badge', user: question.author %></span>
                <span><%= question.answers_count %> answers</span>
                <% if question.has_correct_answer? %>
                  <span class="badge badge-success">Solved</span>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="empty-state">
          <p>No questions yet.</p>
        </div>
      <% end %>
    </div>
    <p class="mt-2"><%= link_to "View all questions &rarr;".html_safe, questions_path %></p>
  </section>

  <aside>
    <div class="card">
      <div class="card-header">
        <h2>Spaces</h2>
      </div>
      <ul class="space-list">
        <% @spaces.each do |space| %>
          <li class="space-item">
            <div>
              <span class="space-name"><%= link_to space.name, space_path(space) %></span>
              <% if current_user&.subscribed_spaces&.include?(space) %>
                <span class="badge badge-subscribed">Subscribed</span>
              <% end %>
            </div>
            <span class="space-count"><%= space.questions_count %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="mt-2"><%= link_to "View all spaces &rarr;".html_safe, spaces_path %></p>
  </aside>
</div>
